#about {
  width: 100%;
  min-height: 600px;
  background-color: $primary-color;
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 100px;
    min-height: 600px;
    display: flex;
    .about_img {
      min-width: 200px;
      min-height: 150px;
      width: 200px;
      height: 150px;
      margin: 20px 50px 0;
      border: 5px solid $secondary-color;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
    .about_content {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      row-gap: 50px;
      .content_top,
      .content_bottom {
        display: flex;
        flex-direction: column;
        h2 {
          color: $secondary-color;
          margin-bottom: 30px;
          font-size: 28px;
        }
        p {
          color: $white;
          line-height: 25px;
          font-size: 16px;
        }
      }
      .content_bottom {
        hr {
          border: none;
          width: 400px;
          height: 1px;
          background-color: $secondary-color;
          opacity: 0.5;
          margin: 5px 0 20px;
        }
      }
    }
  }
}
